@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #FBFAF8;
  --foreground: #171717;
  --clr-yellow : #FFD25D;
  --clr-light-purple : #DEC8FE ;
  --clr-dark-purple : #704FE6 ;
  --default-font: "Montserrat Alternates", sans-serif;
  --font-title: "Glass Antiqua", cursive;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #FBFAF8; 
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--default-font);
}